<div class="sheet">
    <div class="noticias">
        <div class="parte1">
            <div class="articulo">
                <div class="imagen_contenedor">
                  <img src="/public/img/avengers/superman.jpg">
                  <h1 class="titulo_articulo">Blog 1</h1>
                  <span class="fecha_articulo">Mayo 23/15</span>
                </div>
            </div>
            <div class="articulo">
                <div class="imagen_contenedor">
                  <img src="/public/img/avengers/joker.jpg" >
                  <h1 class="titulo_articulo">Blog 1</h1>
                  <span class="fecha_articulo">Mayo 23/15</span>
                </div>
            </div>
        </div>
        <div class="parte2">
            <div class="bloque_a">
                <div class="r">
                    <div class="articulo">
                        <div class="imagen_contenedor">
                          <img src="/public/img/avengers/wonder_woman.jpg">
                          <h1 class="titulo_articulo">Blog 1</h1>
                          <span class="fecha_articulo">Mayo 23/15</span>
                        </div>
                    </div>
                    <div class="articulo">
                        <div class="imagen_contenedor">
                          <img src="/public/img/avengers/aquaman.jpg">
                          <h1 class="titulo_articulo">Blog 1</h1>
                          <span class="fecha_articulo">Mayo 23/15</span>
                        </div>
                    </div>
                </div>
                <div class="r">
                    <div class="articulo">
                        <div class="imagen_contenedor">
                          <img src="/public/img/avengers/green_linter.jpg">
                          <h1 class="titulo_articulo">Blog 1</h1>
                          <span class="fecha_articulo">Mayo 23/15</span>
                        </div>
                    </div>
                    <div class="articulo">
                        <div class="imagen_contenedor">
                          <img src="/public/img/avengers/batgirl.jpg">
                          <h1 class="titulo_articulo">Blog 1</h1>
                          <span class="fecha_articulo">Mayo 23/15</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bloque_b">
                <div class="articulo">
                    <div class="imagen_contenedor">
                      <img src="/public/img/avengers/batman.jpg">
                      <h1 class="titulo_articulo">Blog 1</h1>
                      <span class="fecha_articulo">Mayo 23/15</span>
                    </div>
                </div>
            </div>
            <div class="bloque_c">
                <div class="articulo">
                    <div class="imagen_contenedor">
                      <img src="/public/img/avengers/flash.jpg">
                      <h1 class="titulo_articulo">Blog 1</h1>
                      <span class="fecha_articulo">Mayo 23/15</span>
                    </div>
                </div>
                <div class="articulo">
                    <div class="imagen_contenedor">
                      <img src="/public/img/avengers/superman_.jpg">
                      <h1 class="titulo_articulo">Blog 1</h1>
                      <span class="fecha_articulo">Mayo 23/15</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor_flecha">
            <span class="flecha">
  			  <div></div>
  			</span>
        </div>
    </div>
</div>