<div class="sheet">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="all-ges">
      <div class="parallax-container">
        <div class="parallax">
          <img src="/public/img/gestionalo.jpg">
        </div>
      </div>
    </div>
    <div class="nets">
      <div class="container">
      	<div class="row" style="margin-top: 5%">
      		<div class="col m4"><span class="int"></span><span class="phone"></span></div>
      		<div class="col m4">
      			<span class="flecha">
      			  <div></div>
      			</span>
      		</div>
      		<div class="col m4 ">
      			<div class="redes">
      				<a href="http://twitter.com/gestionalo_co"  target="_blank" title="Gestionalo On Twitter"><span class="tw"></span></a>
      				<a href="http://facebook.com/gestionalo" target="_blank" title="Gestionalo On Facebook"><span class="fb"></span></a>
      				<a href="http://youtube.com/zopplabs"  target="_blank" title="Gestionalo On Youtube"><span class="yt"></span></a>
      			</div>
      		</div>
      	</div>
      </div>
    </div>
  </div>
  <div class="sheet">
    <div class="a">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col m1 s12">&nbsp;</div>
            <div class="col m3 s12">
              <img src="../public/images/cel_app.png" class="responsive-img" style=""/>
            </div>
            <div class="col m7 s12">
              <div class="text">
                <h5>Tus proyectos en cualquier lugar donde estés.</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat.</p>
                <a href="#">Ver Más...</a>
              </div>
            </div>
            <div class="col m1 s12">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="b">
      <div class="files">
        <div class="parallax-container">
          <div class="parallax">
            <img src="../public/images/file_content.png" style="width: 100%; height: auto;"></img>
          </div>
          <div class="container">
            <div class="row">
              <div class="col m6">
                <div class="files_content">
                  <h1>Carga y comparte múltiples archivos</h1>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                  sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                  magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                  ut aliquip ex ea commodo consequat.</p>
                  <a href="#">Ver Más...</a>
                </div>
              </div>
              <div class="col m1"></div>
              <div class="col m5">
                <img src="../public/images/files_.png" class="responsive-img" style="margin-top:33%; height: auto"></img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet" style="padding: 0">
    <div class="a">
      <div class="message">
        <div class="container">
          <div class="row">
            <div class="col m12">
              <hgruop>
                <h2>Lo que más  me gusta de Gestionalo es que se pueden cargar múltiples proyectos dentro de una única plataforma.</h2>
                <h6>Juan C. Ruiz, Bogotá, Colombia</h6>
              </hgruop>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col m1 s12">&nbsp;</div>
            <div class="col m3 s12">
              <img src="../public/images/cel_app_.png" class="responsive-img" style="height: 720px;"/>
            </div>  
            <div class="col m1 s12">&nbsp;</div>
            <div class="col m7 s12">  
              <div class="text" style="padding-top: 15%!important">
                <h5>Gestiona tareas de forma fácil.</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat.</p>
                <a href="#">Ver Más...</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>