<div class="sheet">
    <div class="all-ges">
      <div class="parallax-container">
        <div class="parallax">
          <img src="/public/img/qs.png">
          <h1 class="title_img">Acerca<br>De<br>Nosotros</h1>
          <p class="caption">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore
              magna aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="nets">
      <div class="container">
      	<div class="row" style="margin-top: 3.5%">
      		<div class="col m4"><span class="int"></span><span class="phone"></span></div>
      		<div class="col m4">
      			<span class="flecha">
      			  <div></div>
      			</span>
      		</div>
      		<div class="col m4 ">
      			<div class="redes">
      				<a href="http://twitter.com/gestionalo_co"  target="_blank" title="Gestionalo On Twitter"><span class="tw"></span></a>
      				<a href="http://facebook.com/gestionalo" target="_blank" title="Gestionalo On Facebook"><span class="fb"></span></a>
      				<a href="http://youtube.com/zopplabs"  target="_blank" title="Gestionalo On Youtube"><span class="yt"></span></a>
      			</div>
      		</div>
      	</div>
      </div>
    </div>
</div>
<div class="content_qs">
    <div class="contenedor_equipo">
        <div class="container">
            <div class="row">
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Oscar David</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/oscar.jpg" title="Oscar David" alt="Oscar David" class="responsive-img materialboxed">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/juan.jpg" title="Juan Andrés" alt="Juan Andres" class="responsive-img materialboxed">
                    </div>
                </div>
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Juan Andrés</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Natalia Ortiz</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/nata.jpg" title="Natalia Ortiz" alt="Natalia Ortiz" class="responsive-img materialboxed">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/herman.jpg" title="Herman Andres" alt="Herman Andres" class="responsive-img materialboxed">
                    </div>
                </div>
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Herman Andrés</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Angela Gaviria</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/angela.jpg" title="Angela Gaviria" alt="Angela Gaviria" class="responsive-img materialboxed">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/dany.jpg" title="Daniel Sanchez" alt="Daniel Sanchez" class="responsive-img materialboxed"  data-caption="Twitter: @D_anielSanchez --- WebSite: http://github.com/dmsanchez86">
                    </div>
                </div>
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Daniel Mauricio</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m7 l6">
                    <div class="datos">
                        <h1 class="nombre">Carlos Mario</h1>
                        <div class="descripcion">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                                dolor in hendrerit in vulputate velit esse molestie consequat,
                                vel illum dolore eu feugiat nulla facilisis at vero eros et
                                accumsan et iusto odio dignissim qui blandit praesent luptatum
                                zzril delenit augue duis dolore te feugait nulla facilisi.
                                Nam liber tempor cum soluta nobis eleifend option congue
                                nihil imperdiet doming id quod mazim placerat facer possim
                                assum. Typi non habent claritatem insitam; est usus legentis
                                in iis qui facit eorum claritatem. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 l6">
                    <div class="imagen">
                        <img src="/public/img/equipo/carlos.jpg" title="Carlos Mario" alt="Carlos Mario" class="responsive-img materialboxed">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>