<div class="container-all fondo"> 
	<div class="member"> 
		<h3 class="title-members"> Miembros del Plan</h3>
		<div class="miembros">
			<div class="equipo">
				<div class="profile">
					<div class="photo-friend"><a href="">Juan </a></div>
					<div class="conectado"><a href=""></a></div>
					<div class="photo-profile"> <img src="/public/img/1.png" class="profile-member"></div>
				</div>

				<div class="profile">
					<div class="photo-friend"><a href="">Robin </a></div>
					<div class="conectado"><a href=""></a></div>
					<div class="photo-profile"> <img src="/public/img/2.png" class="profile-member"></div>
				</div>

				<div class="profile">
					<div class="photo-friend"><a href="">Herman </a></div>
					<div class="conectado"><a href=""></a></div>
					<div class="photo-profile"> <img src="/public/img/3.png" class="profile-member"></div>
				</div>

				<div class="profile">
					<div class="photo-friend"><a href="">Natalia </a></div>
					<div class="conectado"><a href=""></a></div>
					<div class="photo-profile"> <img src="/public/img/4.png" class="profile-member"></div>
				</div>

				<div class="profile">
					<div class="photo-friend"><a href="">Angelita </a></div>
					<div class="conectado"><a href=""></a></div>
					<div class="photo-profile"> <img src="/public/img/5.png" class="profile-member"></div>
				</div>
			
				<div class="profile">
					<div class="photo-friend"><a href="">Danna </a></div>
					<div class="inactiva"><a href=""></a></div>
					<div class="photo-profile"> <img src="/public/img/6.png" class="profile-member"></div>
				</div>
			</div>
		</div>
		 <a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="mdi-navigation-menu"></i></a>
	</div>
	<div class="contenido row"> 
		<div class="workspace status col l3 s12">
			<h3 class="title-workspace">Estado del plan</h3>

			<div class="date"> 
				<div class="b4"><div class="date-begin"> <h4 class="date-text">Fecha Inicio</h4> <h5>Enero 28 de 2015</h5></div> </div>
				<div class="b5"><div class="date-final"><h4 class="date-text">Fecha Inicio</h4> <h5>Enero 28 de 2015</h5></div> </div>
			</div>
				<div id="myStat2" data-dimension="200" data-text="45%" data-info="75 dias restantes" data-width="30" data-fontsize="38" data-percent="45" data-fgcolor="#fff" data-bgcolor="#2969b0" class="circliful"></div>
			<div class="container-progress">
				<div class="divs">
					<div class="punto atrazado"></div>
					<div class="letrapunto">Atrasado</div>
				</div>

				<div class="divs">
					<div class="punto aldia"></div>
					<div class="letrapunto">Al d&iacute;a</div>
				</div>
				<div class="divs">
					<div class="punto adelantado"></div>
					<div class="letrapunto">Adelantado</div>
				</div>
			</div>
		</div>

		<div class="workspace task col l3 s12">
			<h3 class="title-workspace">
				<i class="fa fa-list-ul icon-menu"></i> Tareas	
			</h3>
			<div>
				<div class="title-today">hoy</div>
				<div class="lista_tareas">
					<ul>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in"  id="task_one" />
						      <label for="task_one">Tarea Asignada - Número 1</label>
						    </p>
						</li>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in" id="task_two" />
						      <label for="task_two">Tarea Asignada - Número 2</label>
						    </p>
						</li>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in"  id="task_three" />
						      <label for="task_three">Tarea Asignada - Número 3</label>
						    </p>
						</li>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in"  id="task_four" />
						      <label for="task_four">Tarea Asignada - Número 4</label>
						    </p>
						</li>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in"  id="task_five" />
						      <label for="task_five">Tarea Asignada - Número 5</label>
						    </p>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="title-today">Enero 16 de 2015</div>
				<div class="lista_tareas">
					<ul>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in"  id="task_one_" />
						      <label for="task_one_">Tarea Asignada - Número 1</label>
						    </p>
						</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="title-today">Enero 5 de 2015</div>
				<div class="lista_tareas">
					<ul>
						<li>
							<p>
						      <input name="group1" type="checkbox" class="filled-in"  id="task_one__" />
						      <label for="task_one__" class="last_task">Tarea Asignada - Número 1</label>
						    </p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="workspace events col l3 s12">
			<h3 class="title-workspace"> 
				<i class="fa fa-calendar icon-menu"></i> Eventos
			</h3>
			<div class="container-events">
				<div class="a">
					<div class="date-events"> 
						<span><b>17</b><br>Sab</span>
					</div>
					<div class="name-events"> 
						<ul>
							<li><a href="#">Evento 1<i class="mdi-alert-error"></i></a></li>
							<li><a href="#">Evento 2<i class="mdi-alert-error"></i></a></li>
							<li><a href="#">Evento 3<i class="mdi-alert-error"></i></a></li>
							<li><a href="#">Evento 4<i class="mdi-alert-error"></i></a></li>
							<li><a href="#">Evento 5<i class="mdi-alert-error"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="barra"></div>
			<div class="container-events">	
				<div class="a">
					<div class="date-events "> 
						<span><b>19</b><br>Sab</span>
					</div>
					<div class="name-events"> 
						<ul>
							<li><a href="#">Evento 1<i class="mdi-alert-error"></i></a></li>
							<li><a href="#">Evento 2<i class="mdi-alert-error"></i></a></li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="workspace file col l3 s12">
			<div>
			<h3 class="title-workspace">
			  <i class="fa fa-file-text-o icon-menu"></i>Archivos
			</h3>
			<div class="b2">
				<div class="ba12"><i class="fa fa-file-text-o"></i>archivo numero UNO </div>
				<div class="ba12"><i class="fa fa-file-text-o"></i>archivo numero DOS </div>
				<div class="ba12"><i class="fa fa-file-text-o"></i>archivo numero TRES </div>
				<div class="ba12"><i class="fa fa-file-text-o"></i>archivo numero CUATRO </div>
				<div class="ba12"><i class="fa fa-file-text-o"></i>archivo numero CINCO </div>
			</div>
			</div>
			<div class="barra b3"> </div>
			<div class="notes">
				<h3 class="title-workspace">
					<i class="fa fa-file-text-o"></i>Notas
				</h3>
				<div class="b2">
					
				
				<div class="ba12"><i class="fa fa-file-o"></i>archivo numero UNO </div>
				<div class="ba12"><i class="fa fa-file-o"></i>archivo numero DOS </div>
				<div class="ba12"><i class="fa fa-file-o"></i>archivo numero TRES </div>
				<div class="ba12"><i class="fa fa-file-o"></i>archivo numero CUATRO </div>
				<div class="ba12"><i class="fa fa-file-o"></i>archivo numero CINCO </div>

				</div>
			</div>
		</div>
	</div>
	<div class="container-input">
		<div class="zone-comment">
			<p class="plan-selected">PLAN NUMERO DOS</p>
		</div>
		<div class="zone-comment">
			<div class="input">
				<div class="fixed-action-btn df" style="bottom:0;  padding:0;">
					<a class="btn-floating btn-large red"><i class="large mdi-content-add"></i></a>
			      	<ul>
				        <li><a class="btn-floating cyan" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-insert-chart"></i></a></li>
				        <li><a class="btn-floating cyan" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-attach-file"></i></a></li>
				        <li><a class="btn-floating cyan" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-publish"></i></a></li>
				        <li><a class="btn-floating cyan" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-format-quote"></i></a></li>
			      	</ul>
			    </div>
				<input type="text" name="comment" class="comment">
			</div>
		</div>
		<div class="zone-comment"><i class=""></i></div>
	</div>
</div>