<div class="container-all"> 
	<div class="mitad">
		    <h4 class="center"> <img class="" src="/public/img/iconos/7.png">Nuevo Plan</h4>
		<div class="row">
			<div class="col s12"><input type="text" name="name_plan" placeholder="Nombre del plan"/></div>
		</div>
    	<div class="row campos">
    	
    	<div class="col s6">
    	    <input type="text" id="inicio"  gldp-id="inicio" placeholder="Fecha inicio"/>  
    	    <div gldp-el="inicio" style="width:330px; height:250px; position:absolute;left:0 !important; top:232px !important;">  </div>
   		 </div>
    	  <div class="col s6">
    	    <input type="text" id="fin"  gldp-id="fin" placeholder="Fecha fin"/>  
    	     <div gldp-el="fin" style="width:330px; height:250px; position:absolute;left:366px !important; top:232px !important;"></div>
    	  </div>
    	  
    	</div>
    	<div class="row" style="margin-top:251px;">
			<div class="col s12 otro"><input type="text" name="name_plan" placeholder="Miembros"/><i class="flotante"></i></div>
		</div>
		
		<div class="row">
			<div class="buttons"> 
    			<a class="waves-effect waves-light btn public boton">Público</a>
    			<a class="waves-effect waves-light btn private boton">Privado</a>
			</div>
		</div>
		
		<div class="row boton_access">
		    
		     
		<div class="fixed-action-btn flotan" style="bottom: 45px; right: 24px;">
			<a class="btn-floating btn-large"><i class="large mdi-action-done icons"></i></a>
	    </div>
		</div>
		    
		</div>
</div>