.nav_side_left {
  background: rgb(21, 42, 63);
}

.container-logotype {
    background: #fff;
}

#nav-mobile{
    /* overflow:scroll; */
}
#nav-mobile::-webkit-scrollbar {  
    width: 10px;  
}  
#nav-mobile::-webkit-scrollbar-track {  
    background-color: transparent;  
}  
#nav-mobile::-webkit-scrollbar-thumb {  
    background-color: #ccc; 
}  
#nav-mobile::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
} 
.container-icon .icon p {
    color: rgb(19, 157, 159);
    font-weight: bold;
    font-size: 16px;
}

.avatar-img .editar a {
    font-weight: bold;
    color: #152A3F;
}


/* Styles carlos*/
.col.s8.fondo {
  text-align: center;
  height:633px;
  position: relative;
    width: 66% !important;
      padding: 0;
        border-right: 4px solid rgb(0, 196, 197);
}
.photo {
  width: 31px;
  position: absolute;
  right: 10px;
    top: 0;
}
.bloquear {
  position: absolute;
  bottom: 0;
}
.contenido-centrado {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
img.imagenblur {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  transform: scale(1.1);
}
i.small {
  background: white;
  border-radius: 7px;
}
h3.name.aabb {
  font-size: 3em;
  color: white;
}
.image_profile {
  width: 46px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 124px;
  right: 0;
  margin: auto;
  height: 44px;
}
h4.profesion.aabbb {
  color: white;
}
a.waves-effect.waves-light.btn {
  background-color: #1e2842;
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin:3%;
  width: 42%;

}
.row.abb {
  position: relative;
  top: 100px;
}
.row.abb div {
  margin: 11px;
}
a.btn-floating.btn-large.red {
  background: rgba(1, 117, 178, 0.83) !important;
}
.fixed-action-btn {
  position: absolute !important;
  left: 0%;
  margin: auto;
  bottom: 0!important;
  right: inherit;
  display: inline;
  width: 35px;
  transform: scale(.8);
}
.col.s8.fondo {
  height: 94vh !important;
  overflow: hidden;
}
.col.s4.aabbc {
  height: 93vh !important;
  position: relative;
}
main {
  height: 100vh;
  overflow: hidden;
    background: #f6f6f6;
}
.col.s4.aabbc .s12 {
  margin: 12px;
  position: relative;
}
.otro{
    position: relative;
      padding-left: 1.7em;
  position: relative;
  margin-bottom: .7rem;
  color: white;
  font-size: 2rem;
}
.flotante:after{
    content: "+";
  background: rgb(19, 157, 159);
  border-radius: 50%;
  padding: .55em .62em;
  line-height: 1rem;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
  position: absolute;
  right: 1.2em;
  cursor: pointer;
  top: 5px;
    font-family: sans-serif;
}
.buttons {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
a.waves-effect.waves-light.btn.public {
  background: #fafafa;
  color: #818181;
}
a.waves-effect.waves-light.btn.private {
  background: #36b7d9;
  color: #f9fcfe;
}
.boton {
  border-radius: 6px !important;
}
.boton_access{
  position: relative;
}
.flotan{
  position: static !important;
  margin:auto;
}
.mitad {
  width: 74%;
  margin: auto;
  position:relative;
}
.contenido.row {
  font-size: 12px;
}
.b4 h5, .b5 h5 {
  font-size: 11px;
}
input.comment {
  width: 680px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  height: 34px;
  background: #7fcbe5;
  border-style: none;
}
.input {
  position: relative;
}
a.btn-floating.btn-large.red {
  width: 35.5px !important;
  height: 35.5px !important;
}
.col.s4.aabbc {
  background: white;
}
a.waves-effect.waves-light.btn.yy {
  width: 48% !important;
}
a.waves-effect.waves-light.btn.oo {
  width: 100%;
}
ul.ll{
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 28px !important;
  top: inherit;
}
.fixed-action-btn.df {
  bottom: 14px !important;
}