@font-face {
	font-family: 'Conv_Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	
}
@font-face {
	font-family: 'Conv_Roboto-BoldItalic';
	src: url('../fonts/Roboto-BoldItalic.eot');
	src: local('☺'), url('../fonts/Roboto-BoldItalic.woff') format('woff'), url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Italic';
	src: url('../fonts/Roboto-Italic.eot');
	src: local('☺'), url('../fonts/Roboto-Italic.woff') format('woff'), url('../fonts/Roboto-Italic.ttf') format('truetype'), url('../fonts/Roboto-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.eot');
	src: local('☺'), url('../fonts/Roboto-LightItalic.woff') format('woff'), url('../fonts/Roboto-LightItalic.ttf') format('truetype'), url('../fonts/Roboto-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}
body,html,.main{
	width: 100%;
	height: 100%;
}
.container-left {
	width: 311px;
	float: left;
	height: 100%;
	position: fixed;
	overflow: auto;
	background-color: #152a3f;
	font-size: 12px;
}	
.container-left::-webkit-scrollbar {  
    width: 4px;  
}  
.container-left::-webkit-scrollbar-track {  
    background-color: transparent;  
}  
.container-left::-webkit-scrollbar-thumb {  
    background-color: #ccc; 
}  
.container-left webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  
.container-rigth {
	height: 100%;
	margin-left: 309px;
	font-size: 12px;
}
img.logotype {
	width: 70%;
	margin-top: 15px;
	display: block;
	margin: 0 auto;
	padding: .5em;
}
.container-blue {
	height: 623px;
	border-top: 5px solid #139d9f;
}
.container-avatar {
	text-align: center;
	margin-bottom: 20px;
}
h3.name {
	color: #139d9f;
	margin-top: 0px;
	font-family: 'Conv_Roboto-Bold';
	font-size: 1.5em;
}
h4.profesion {
	color: #0868a7;;
	margin-top: 0px;
	font-family: 'Conv_Roboto-LightItalic';
}
.icon{
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	color: #139d9f;
}
.container-icon {
	text-align: center;
	margin-bottom: 3.3em;
	font-size: 12px;
	height: 30px;
}
input.search {
	width: 80%;
	border-radius: 40px;
	border: 0px;
	font-size: 14px;
	padding: 6px;
	  float: left;
}
.container-search {
	text-align: center;
	  width: 80%;
  margin: 0 auto;
}
i.fa.fa-search {
	font-size: 22px;
	margin-left: 6px;
	color: #139d9f;
}
.la{
	font-size: 20px !important;
}
.icon a {
	color: #139d9f;
}
.menu {
	margin: 28px 0;
}
.menu h3{
	padding-left: 1.5em;
	position: relative;
	margin-bottom: .7rem;
}
.menu h3:after{
	content: "+";
	background: rgb(19, 157, 159);
	border-radius: 50%;
	padding: .55em .62em;
	line-height: 1rem;
	font-weight: bold;
	color: white;
	font-size: 1.3rem;
	position: absolute;
	right: 1.2em;
	cursor: pointer;
	top: -5px;
}
ul.menu-list {
	margin: 13px 0;
	color: #139d9f;
	font-family: 'Conv_Roboto-Regular';
}
ul.menu-list li {
	padding: .8em 0 .8em 6.4em;
	cursor: pointer;
	list-style: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
	position: relative;
	color: #2969B0;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .5s ease-out;
}
.menu-list li:after{
	position: absolute;
	content: attr(num);
	left: 3rem;
	margin: auto;
	top: 0;
	bottom: 0;
	background:  #2969B0;
	color: white;
	border-radius: 50%;
	padding: .3em .6em;
	height: 45%;
	line-height: 1rem;
}
.menu a {
	color: #139d9f;
	text-decoration: none;
	font-size: 23px;
}
li i {
	color: #4cc1e9;
}
ul.menu-list li:hover {
	background: #2d455f;
	font-family: 'Conv_Roboto-bold';
	color: #fffefd;
}
.profile {
	display: inline-block;
	width: 5%;
	position: relative;
	margin-left: 10px;
	vertical-align: top;
}
img.profile-member {
	width: 122%;
	position: relative;
	left: -6px;
	top: 0px;
	height: 100%;
}
h3.title-members {
	display: inline-block;
	vertical-align: top;
	line-height: 15px;
	margin-top: 1.2rem;
	color: #fff;
	font-family: 'Conv_Roboto-Bold';
	font-size: 1.2rem;
}
.miembros{
	display: inline-block;
}
.equipo{
	display: flex;
}
.equipo > div{
	flex: 1;
}
.container-all {
	background: #50c1e9;
	padding-bottom: 1rem;
}
.member {
	padding: .45em 0 .45em 1rem;
	border-bottom: 1px solid #3eafd9;
	position: relative;
}
.contenido{
	display: -webkit-flex;
    display: flex;
	position: relative;
}
.contenido > div{
	-webkit-flex: 1; 
    -ms-flex: 1;   
    flex: 1;
}
.general-notifications {
	height: 54px;
	background: #fbfaf8;
}
.workspace{
	text-align: center;
	color: #fcfff3;
	margin-top: 27px;
}
.status,
.task,
.events,
.file{
	border-right: 1px solid #3eafd9;
}
.icon-menu {
	width: 50px;
	float: left;
}
header.container-logotype {
	width: 100%;
	background: #fff;
}
.container-logotype-2 {
	margin: 0px auto;
}
.img-avatar {
	width: 85px;
	height: 85px;
	margin: 14px auto 0;
	border-radius: 50%;
	overflow: hidden;
	border: 6px solid #02d1cf;
	position: relative;
}
img.profile-img {
	width: 129%;
	position: relative;
	height: 107%;
	right: 10px;
	top: -5px;
}
.photo-profile {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #02d1cf;
	position: relative;
}
.conectado,.inactiva {
	position: absolute;
	width: 10px;
	z-index: 99;
	border-radius: 10px;
	line-height: 22px;
	left: 36px;
	bottom: 0;
	margin: 0 auto;
	top: 41px;
	height: 10px;
	border: 2px solid #fcfcfa;
	z-index: 1;
} 	
.conectado{
	background: #63bb6c;
}
.inactiva{
	background: red;
}
.editar{
	position: absolute;
	width: 98px;
	background: rgba(255, 255, 255, 0.89);
	z-index: 99;
	border-radius: 10px;
	line-height: 22px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	top: 81px;
	height: 22px;
}
.avatar-img {
	position: relative;
	margin-bottom: 1em;
}
.editar a {
	text-decoration: none;
	color: black;
}
.date-begin {
}
.date {
	margin-top: 1em;
	height: auto;
	display: block;
	overflow: auto;
}
.date:after, .date:before{
	content: " ";
	clear: both;
}
.photo-friend a {
	text-decoration: none;
}
.profile:hover > .photo-friend {
	opacity: 1;
}
.photo-friend {
	position: absolute;
	width: 98%;
	z-index: 99;
	border-radius: 10px;
	left: -2px;
	bottom: 0px;
	margin: 0px auto;
	top: 20px;
	height: 15px;
	background: rgba(255,255,255,.8);
	border: 2px solid #fcfcfa;
	text-align: center;
	opacity: 0;
	
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .4s ease-in;
}
.photo-friend a{
	color: black;
}
.photo-profile:hover {
	cursor: pointer;
}
.date-text{
	color: #0b3143;
	font-size:10px;
}
span.circle-info-half {
	position: absolute;
	left: 3px;
	font-family: 'Conv_Roboto-LightItalic';
	font-size: 0.9em;
}
span.circle-text {
	position: absolute;
	left: 8px;
	top: -8px;
	font-family: 'Conv_Roboto-bold';
}
div#myStat2 {
	width: 100% !important;
	margin:24px auto;
	position: relative;
}
.punto{
	width: 20px;
	border-radius: 10px;
	margin: 0 auto;
	height: 20px;
}
.punto.atrazado {
	background: #d4155b;
}
.punto.aldia {
	background: #2969b0;
}
.punto.adelantado {
	background: #f7da64;
}
.container-progress{
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
}
.divs{
	display: inline-block;
	width: 50px;
	vertical-align: top;
	margin: .25em .75em;
}
.divs div:last-child{
	position: relative;
	left: -5px;
	line-height: 30px;
}
.title-workspace{
	font-family: 'Conv_Roboto-Bold';
	font-size: 1.4em;
}
.title-work{
	font-family: 'Conv_Roboto-BoldItalic';
}
.letrapunto{
	font-family: 'Conv_Roboto-LightItalic';
}
.container-input {
	background: #0175b2;
	height: 51px;
}
.zone-comment{
	float: left;
	margin-left: 18px;
	margin-top: 9px;
}
input.comment {
	width: 772px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	height: 25px;
	background: #7fcbe5;
	border-style: none;
}
p.plan-selected {
	margin-top: 5px;
	font-family: 'Conv_Roboto-Regular';
	color: #f8fcfb;
}
.title-today {
border-bottom: 1px solid #3eafd9;
width: 206px;
margin: 0 auto;
margin-top: 11px;
margin-bottom: 11px;
padding-bottom: 6px;
}
span.day-event {
float: left;
}
.date-events {
	float:left;
}
.name-events {
display: inline-block;
text-align: left;
width: 190px;
}
.container-events {
margin-top: 12px;
margin-left: 15px;
}
.a-1 {
margin-bottom: 12px;
}
.barra{
	border-bottom: 1px solid #3eafd9;
	width: 225px;
	margin: 0 auto;
}
.b2{
	width: 254px;
	display: inline-block;
	text-align: left;
}
.barra.b3 {
margin-bottom: 10px;
margin-top: 19px;
}
.b4,.b5{
	text-align: center;
	width: 50%;
	box-sizing: border-box;
	padding: .15em 5%;
}
.b4{
	float: left;
}
.b5{
	float: right;
}
.b2 div {
margin-bottom: 11px;
}
.ba12 i{
	margin-left:10px;
	margin-right:8px;
}
.circle-info-half {
  color: #FFF !important;
}
img.img-menu {
  width: 30px;
}
